body {
  height: 100vh;
  width: 100vw;
  padding-right: 20px;
  margin: 0;
  background: #000000;
  overflow-x: hidden;
  box-sizing: content-box;
  user-select: none;
  position: relative;
}

select {
  padding: 5px;
  color: #000;
  font-size: 12px;
  background: transparent;
  border: none;
  outline: none;

}

select option {
  margin: 40px;
  background: rgba(0, 0, 0, 0) !important;
  color: #fff000;
  /* text-shadow: 0 0px 0 rgba(0, 0, 0, 0.4) !important; */
}

option:focus {
  background-color: transparent !important;

}

option:active {

  background-color: transparent !important;
}

option:not(:checked) {
  background: #0000 !important;
}

option::checked {
  background: #0000 !important;
}

.cuatrai {
  color: aliceblue;
  height: 100vh;
  width: 50vw;
  opacity: 1;
  background-color: #000000;
  z-index: -9999990999999999999999999999999999999999999999999999999999999;

  top: 0;
  left: 0%;
  border: 2px solid #fff000;
  position: absolute;
  animation: cuaphai-open 2s forwards;

  /* animation-play-state: running; */
}

.cuaphai {
  color: aliceblue;
  height: 100vh;
  width: 50vw;
  opacity: 1;
  right: 0%;
  top: 0;

  background-color: #000000;
  z-index: -9999990999999999999999999999999999999999999999999999999999999;
  border: 2px solid #fff000;
  position: absolute;
  animation: cuatrai-open 2s forwards;

  /* animation-play-state: running; */
  /* animation: cuaphai-open 2s forwards; */
}

@keyframes fade-in {
  100% {
    height: 100vh;
    width: 100vw;
    visibility: visible;
    opacity: 1;
  }
}

@keyframes cuatrai-open {
  99% {
    /* left: 0%; */
    /* right: 0%; */
    width: 0vw;

    /* opacity: 0; */
  }

  100% {
    opacity: 0;
  }
}

@keyframes cuaphai-open {
  99% {
    /* left: 0%; */
    /* right: 0%; */
    width: 0vw;

    /* opacity: 0; */
  }

  100% {
    opacity: 0;
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}



::-webkit-scrollbar {
  width: 7px;
  border-radius:24px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #181717; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #530202; 
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a50707; 
}
.react-datepicker__input-container input,
.react-datepicker-wrapper {
  background-color: transparent !important;
  border: none;
}

.react-datepicker__input-container input:focus {
  border: none;
  outline: none;

}

.react-datepicker__input-container input {
  min-width: 200px !important;
  width: 200px !important;
  max-width: 100% !important;
  box-sizing: content-box !important;
  text-align: center !important;
}


.react-datepicker,.react-datepicker__tab-loop, .react-datepicker-popper {

  position: relative;

  z-index: 10000;



}

.title {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  color: #fff000;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  opacity: 1;
  animation: show 8s forwards;
}

.ring {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 120px;
  height: 120px;
  background: transparent;
  border: 2px solid #0c0000;
  border-radius: 50%;
  text-align: center;
  padding-top: 25px;
  line-height: 40px;
  font-family: sans-serif;
  font-size: 23px;
  color: #fff000;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-shadow: 0 0 5px #fff000;
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  opacity: 1;
  animation: show 8s forwards;
  z-index: -1;
}

.ring:before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border: 5px solid transparent;
  border-top: 5px solid rgba(179, 255, 0, 0.973);
  border-bottom: 5px solid rgba(179, 255, 0, 0.773);
  border-left: 5px solid rgba(235, 88, 2, 0.773);
  border-right: 5px solid rgba(235, 88, 2, 0.773);

  border-radius: 50%;
  animation: animateC 8s linear infinite;
}

@keyframes animateC {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate {
  0% {
    transform: rotate(45deg);
  }

  100% {
    transform: rotate(405deg);
  }
}

.row_chart::before,
.row_chart::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

}

.row_chart {
  position: relative;
  width: 93%;
  margin: auto;
  border-radius: 3%;
  color: #69ca62;
  overflow: hidden;
  opacity: 1;
  z-index: 1;
  animation: show 8s forwards;

}

.row_chart::before,
.row_chart::after {
  content: "";
  position: absolute;
  justify-content: center;
  display: flex;
  align-items: center;
  width: 150%;
  height: 60%;
  left:50%;
  top:50%;
  /* left: -10%;
  right: -10%; */
  /* transform: translate(-50%, -50%); */
  transform: translate(-50%, -50%) rotate(0deg);
  /* top: 10%; */
  background-color: #fff000;
  animation: rotateBorder 5s linear infinite;
  z-index: -1;
}

.row_chart::before {
  animation-delay: -10s;

}

.row_chart::after {
  background: #fff000;
  z-index: -1 !important;
}
.bieudo{
  position: relative;
}

@keyframes rotateBorder {
  0% {
    transform:translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform:translate(-50%, -50%) rotate(360deg);
  }
}

.contentchart {
  /* margin-top: 10px; */
  margin: 5px;
  user-select: none;
  background: #000000;
  border: 1px solid green;
  border-radius: 3%;
  z-index: -1000;

}

.namecardcircle {
  font-size: 0.6em;
}

.cardMachine {
  border: 2px solid #fff000;
  min-height: 150px;
  height: 180px;

  max-height: 220px;
  border-radius: 20% 10% 10% 10%;
  padding-top: 0;
  /* box-shadow: 0 0 10px 2px #fff000; */
  position: relative;
  overflow: hidden;
  animation: show 8s forwards;
  /* overflow-y: auto; */
}

.cardMachine:nth-child(1),
.cardMachine:nth-child(3),
.cardMachine:nth-child(5),
.cardMachine:nth-child(7), 
.cardMachine:nth-child(9)  {
  border: 4px solid orangered;

  box-shadow: 0 0 20px 3px orangered;
}

.cardMachine:nth-child(2),
.cardMachine:nth-child(4),
.cardMachine:nth-child(6),
.cardMachine:nth-child(8),
.cardMachine:nth-child(10)  {
  border: 4px solid #fff000;

  box-shadow: 0 0 10px 2px #fff000;
}



.cardMachine:nth-child(1) .cardName,
.cardMachine:nth-child(3) .cardName,
.cardMachine:nth-child(5) .cardName,
.cardMachine:nth-child(7) .cardName ,
.cardMachine:nth-child(9) .cardName 
{
  border-right: 3px solid orangered;
  border-bottom: 3px solid orangered;
  box-shadow: 0 0 20px 3px orangered;
  color:orangered;
  /* height: 10000px; */
}

.cardMachine:nth-child(2) .cardName,
.cardMachine:nth-child(4) .cardName,
.cardMachine:nth-child(6) .cardName,
.cardMachine:nth-child(8) .cardName, 
.cardMachine:nth-child(10) .cardName{
  border-right: 2px solid #fff000;
  border-bottom: 2px solid #fff000;
  box-shadow: 0 0 10px 2px #fff000;
  color:#fff000;
  /* height: 10000px; */
}

.cardName {

  width: 40%;
  height: 30%;
/* border-top-left-radius:50% ; */
  border-bottom-right-radius: 40%;
  margin-top: -4px;
  margin-left: -4px;
  justify-content: center;
  border: 4px solid;
  text-align: center;
  align-items: center;
  display: flex;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 3px;
  position: relative;
  overflow: hidden;


}

.cardContent {
  color: #fff000;
  display: inline-flexbox;
  justify-content: center;
  text-align: center;
  align-items: center;
  /* border: 2px solid #fff000; */
  padding-top: 10%;
  height: 70%;
  width: 100%;
  position: relative;
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 2px;

  text-shadow: 0 0 10px 2px red;

}
.cardContent p:nth-child(1){
  color:fff000;
  margin-bottom:5%;
}
.cardContent p:nth-child(2){
  color:orangered;
  /* margin-bottom:5%; */
}
