.contentLogin {
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    display: flex;
    position: relative;
  

}

.contentLogin.animate {
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    display: flex;
    position: relative;
    animation: nen 6s forwards;
}

.SVGIMG {
    width: 40%;
    /* height: calc(100vh - 40%); */
    height: 60%;
    justify-content: center;
    align-items: center;
    position: relative;
    
}

.SVGIMG img {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    visibility: hidden;

}

.SVGIMG img.animate {
    /* position: absolute; */
    /* z-index: 11; */
    /* visibility: hidden;
    width: 100%;
    height: 100%; */
    top:10%;
    left:10%;
    position: relative;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    animation: mo 5s forwards;
    animation-play-state: running;

}

.SVGIMG .formlogin.animate {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(11, 43, 5, 0.442);
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    border: 3px solid greenyellow;
    border-radius: 5%;
    animation: dong 5s forwards;
    animation-play-state: running;

}

.SVGIMG .formlogin {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(46, 220, 11, 0.18);
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    border: 3px solid greenyellow;
    border-radius: 5%;
    overflow: hidden;
    box-shadow: 0 0 20px 4px #fff000;

}


@keyframes dong {

    100% {
        width: 0;
        height: 0;
        padding: 0;
        z-index: -999991;
        border: none;
        opacity: 0;
       
    }
}

@keyframes mo {
    0% {
        visibility: hidden;
        justify-content: center;
        opacity: 0;
        width: 60%;
        height: 60%;
        transform: rotateX(0deg) scale(1, 1);

        text-align: center;
    }

    30% {
        visibility: visible;
        justify-content: center;
        opacity: 0.1;
        width: 80%;
        height: 80%;
        text-align: center;
        transform: rotateX(0deg) scale(1, 1);

    }

    70% {
        width: 100%;
        height: 100%;
        visibility: visible;
        justify-content: center;
        opacity: 0.6;
        text-align: center;
        transform: rotateX(60deg) scale(1, 0.8);

    }

    100% {
        text-align: center;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 50%;
        transform: rotateX(60deg) scale(1, 0.2);

        opacity: 1;

    }
}


@keyframes nen {

    60%{
         /* background-image: url('../public/fast.gif'); */
         background-image: url('../public/fast.gif');
         background-repeat: no-repeat;
         background-size: 110%;
         /* left:-90px; */
         background-position: center;
    }
    61%{
        background-image:none;
    }
    62%{
        background-image: url('../public/vongtron.gif');
        background-repeat: no-repeat;
        background-size: 10%;
        object-fit: cover;
        /* left:-90px; */
        background-position: center;
    }
    100% {
        /* background-image: url('../public/fast.gif'); */
        background-image: url('../public/vongtron.gif');
        background-repeat: no-repeat;
        background-size: 300%;
        object-fit: cover;
        /* left:-90px; */
        background-position: center;
    }
}

.titleLogin {
    color: #fff000;
    font-size: 40px;
    font-weight: 700;
    line-height: 100px;
    letter-spacing: 5px;
}

.inputlogin {
    width: 100%;
    height: 100%;
    padding: 5%;

}

.inputlogin input {
    border: 1px solid #fff000;
    /* padding-left: 10%;
 padding-right: 10%; */
    /* margin-top: 10%;
 margin-bottom: 10%; */
}

.inputlogin input:focus  {
    background: rgba(14, 41, 1, 0.904);
    /* font-size: 20px; */
    /* margin-top: 10px; */
    
}



.inputlogin label {
    /* background: transparent; */
   
    color: #fff000;
    margin-left: 5%;

    /* margin-top: 10%;
    margin-bottom: 10%; */
    font-size: 20px;
}

.buttonlogin {
    border: 2px solid #fff000;
    border-radius: 12px;
    color: #fff000;
    font-weight: 500;
    font-size: 24px;
    padding-left: 10px;
    padding-right: 10px;
}

.buttonlogin:hover {
    border: 3px solid #fff000;
    border-radius: 12px;
    color: #fff000;
    font-weight: 500;
    font-size: 24px;
    background-color: #ffee0019;
}
.inputlogin input{
    color: #fff000;
    background: rgba(14, 41, 1, 0.904);
    font-size: 18px;
} 

.inputlogin input::placeholder{
    color: #ffee004f;
}
.messerrror{
    margin-bottom: 20px;
    color: #fff000;
}